html, body {
    height: 100vh;
    width: 100;
}

body {
    background-image: url(./image/background.jpg);
    background-size: cover;
    display: flex;
    align-content: center;
    justify-items: center;
    z-index: 1;
}

h1 {
    font-family: "Lusitana", "serif";
    font-style: bold;
    font-weight: 700;
    font-size: 5em;
    color: black;
}

h3 {

}

textarea {
    resize: none;
    font-family: "Lusitana", "serif";
    margin-top: 3em;
}

#email {
    font-family: "Lusitana", "serif";
}

#sidebar {
    background-color: rgba(49, 49, 49, 0.387);
    visibility: hidden;
    display: flex;
    height: 100vh;
    position: fixed;
}

#sidebar-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 8em;
    height: 80%;
    margin: 1em;
    margin-top: 4em;
    background-color: transparent;
    z-index: 2;
}



/*learned this clever checkbox trick from W3Schools, changed attributes to fit better on my site*/
#hamburger-icon span{
    display: block;
    margin: 6px;
    height: 6px;
    width: 40px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
input[type="checkbox"]{
    display: none;
}

#hamburger-icon {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 2;
}

#hamburger:checked ~ #hamburger-icon span:nth-child(1){
    -webkit-transform: rotate(135deg) translate(10px, -8px);
    -o-transform: rotate(135deg) translate(10px, -8px);
    -moz-transform: rotate(135deg) translate(10px, -8px);
    transform: rotate(135deg) translate(10px, -8px);
}

#hamburger:checked ~ #hamburger-icon span:nth-child(2){
    opacity: 0;
}

#hamburger:checked ~ #hamburger-icon span:nth-child(3){
    -webkit-transform: rotate(-135deg) translate(9px, 8px);
    -moz-transform: rotate(-135deg) translate(9px, 8px);
    -o-transform: rotate(-135deg) translate(9px, 8px);
    transform: rotate(-135deg) translate(9px, 8px);
}

#hamburger:checked ~ #sidebar {
    visibility: visible;
}


/* section {
    display: flex;
    align-items: center;
    align-content: space-evenly;
} */

#resumé, .regular {
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    width: 100%;
    cursor: pointer;
    font-size: 1.8em;
    font-family: "Lusitana", "serif";
    font-weight: bold;
    color: whitesmoke;
}

a {
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

img {
    width: 100%;
}


.current-page {
display: normal;
max-width: max-content;
box-sizing: border-box;
}

.hidden-page {
    display: none;
}

#home {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#about-me {
    margin: auto 3em; 
}

#projects {
    
}

#resumé {

}

#contact div {
    margin: auto 8em;
    display: flex;
    flex-direction: column;
    justify-items: center;
}