html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(./image/background.jpg);
    background-size: cover;
    display: flex;
}

section {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.modal{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}

.content {
    width: 100%;
    display: block;
    position: fixed;
    text-align: center;
    margin-top: 30vh;
}
.mdlimg {
    width: 40vw; 
    width: 300px;
}
.close{
    position: fixed;
    color: grey;
    float: inline-end;
    font-size: 3em;
    cursor: pointer;
    top: 0vh;
    right: 2vw;
}

.close:hover {
    color:rgb(74, 249, 179)
}

.current-page {
display: flex;
box-sizing: border-box;
}

.hidden-page {
    display: none;
}

h1 {
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-style: bold;
    font-size: 4em;
    flex-wrap: wrap;
    color: black;
}

h3 {
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;    
    font-size: 3em;
    color: rgb(74, 249, 179);
    margin-top: 1vh;
}

p{
    font-family: "Lusitana", "serif";
    color: whitesmoke;
    font-size: 2em;
    margin-left: 20%;
    margin-right: 20%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    width: 85%;
    margin-left: 10%;
}

.photo {
    width: 20vw;
    border: 1vh solid rgb(74, 249, 179);
    border-radius: 5vw;
}

.thumb {
    width: 18vw;
    min-width: 100px;
    margin: 2vw;
    border: 1vh solid rgb(74, 249, 179);
    border-radius: 5vw;
    cursor: pointer;
}

#thumbnails {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

a {
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

#resumé, .regular {
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    width: 100%;
    cursor: pointer;
    font-size: 2em;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    color: whitesmoke;
}

#resumé:hover, .regular:hover {
    color: rgb(74, 249, 179);
}

textarea {
    display: flex;
    resize: none;
    background-color: rgba(49, 49, 49, 0.387);
    color: rgb(74, 249, 179);
    font-family: "Lusitana", "serif";
    margin-top: 5vh;
}

#projects {
    width: 70vw;
} 

#contact {
    justify-content: center;
    margin: auto;

}

#email {
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(49, 49, 49, 0.387);
    color: rgb(74, 249, 179);
}

#submit {
    display: flex;
    border: none;
    border-radius: 1em;
    margin-top: 2vh;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
    opacity: 0.6;
    background-color: rgb(74, 249, 179);
    z-index: 1;
}

#submit:hover {
    opacity: 1;
}

#sidebar {
    background-color: rgba(49, 49, 49, 0.387);
    visibility: hidden;
    display: flex;
    height: 98vh;
    width: 25vw;
    position: fixed;
    z-index: 2;
    -webkit-transition: .35s linear;
    -moz-transition: .35s linear;
    -o-transition: .35s linear;
    transition: .35s linear;
}

#sidebar-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    margin: 15% 10%;
    margin-top: 3em;
    background-color: transparent;
    z-index: 2;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
}



/*learned this clever trick called checkbox hack from W3Schools, changed attributes to fit better on my site*/
#hamburger-icon span {
    display: block;
    margin: 6px;
    height: 6px;
    width: 40px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

input[type="checkbox"]{
    display: none;
}

#hamburger-icon:hover{
    background-color: rgb(74, 249, 179);
}

#hamburger-icon {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 3;
}

#hamburger:checked ~ #hamburger-icon span:nth-child(1){
    -webkit-transform: rotate(135deg) translate(10px, -8px);
    -o-transform: rotate(135deg) translate(10px, -8px);
    -moz-transform: rotate(135deg) translate(10px, -8px);
    transform: rotate(135deg) translate(10px, -8px);
}

#hamburger:checked ~ #hamburger-icon span:nth-child(2){
    opacity: 0;
}

#hamburger:checked ~ #hamburger-icon span:nth-child(3){
    -webkit-transform: rotate(-135deg) translate(9px, 8px);
    -moz-transform: rotate(-135deg) translate(9px, 8px);
    -o-transform: rotate(-135deg) translate(9px, 8px);
    transform: rotate(-135deg) translate(9px, 8px);
}

#hamburger:checked ~ #sidebar {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
        background-position: center;      
    }
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
        text-align: left;
        width: 80%;
        word-wrap: normal;
        margin: auto;
    }
    section {
        justify-items: center;
    }
    #sidebar {
        width: 50vw;
        background-color: rgb(74, 249, 179);
    }
    #resumé, .regular {
        color: black;
    }
    #email {
        font-size: 1em;
    }
}

